[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

div#debt-calculator {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    line-height: 1.231;
}

.styleGreen
{
    inheritance:no;
    color : rgb(44, 160, 44);
}
.styleRed
{
    color : rgb(160, 44, 44);
}
.styleBlue
{
    color : rgb(31, 119, 180);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    /*display: none;*/
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#super-graph
{
    font: 10px sans-serif;
}

.main-title
{
    font-size: 36px;
    color: #39B54A;
}


.title2
{
    font-size: 24px;
    color: #39B54A;
}

.section-number
{
    font-size: 36px;
    color: #39B54A;
    margin: 0px 5px;
}

#debt-calculator #box-left,#box-right,#box-bottom
{
    /*color: #39B54A; */
	color: #172; 
    border: 1px;
    background:#f1f2f2;

}

#three-checkboxes label
{
    font-size: 12px;
    color: #414042;
    display:inline;
    margin-left: 5px;
    margin-right:5px;
    vertical-align:middle;

}

#debt-calculator label
{
    font-size: 14px;
    color: #414042;
    display:inline;

}

#box-left
{
    margin: 5px 5px;
    float: left;
    width: 400px;
    height: 200px;
}

#box-right
{
    margin: 5px 5px;
    float: left;
    width: 400px;
    height: 200px;
}

#box-bottom
{
    margin: 5px 5px;
    clear:both;
    width: 810px;
    height: 330px;
}


#one-left,#two-left
{
    float: left;
    width: 15%;
    height: 100%;

}
#three-left
{
    float: left;
    width: 5%;
    height: 100%;

}

#four-span
{
    float: left;
    width: 5%;
    height: 100%;

}
#one-right,#two-right
{
    float: left;
    width: 85%;
    height: 100%;

}

#three-right
{
    float: left;
    width: 95%;
    height: 100%;
}

#summary-table
{
    float: left;
    clear:both;
    width:100% ;
    background: #f1f2f2;
}

#box-details
{
    float: left;
}
#box-disclosures
{
    float: left;
    font: 10px sans-serif;
    color:   #a1a1a1;
    width:96%;
    padding-top: 10px;
}
#one-right label
{
    padding: 15px;
}
#one-title, #two-title
{
    height:15%;
    margin: 5px;

}


#one-first
{
    height:15%;
    clear:both;
    padding:10px;
}
#one-second,#one-third
{
    height:15%;
    clear:both;
    padding:10px;
}

#three-title
{
    float: left;
    width:40%;
    height:7%;

}

#three-checkboxes
{
    float: left;
    width: 40%;
    height:7%;
    text-align: right;
}

input[type='text'], input[type='email']
{
    border: 1px solid #ccc;
    padding: 5px;
    white-space: pre;
    text-align: center;
    width:150px;
}

#two-first,#two-second
{
    height:30%;
    clear:both;
    padding:10px;
}

#two-first-overlay
{
    position:absolute;
    background-color: #ff0;
    top:0;
    left:0;
}

slider span.pointer.active:after
{
    background-color: #39B54A;
}

slider span.pointer
{
    width: 5px;
}

slider span.pointer:after
{
    width: 5px;
    left: 0px;
    visibility: hidden;

}

.black-line-separator
{
    border-bottom:solid black 2px;
}

.row-header
{


}
.row-cell
{
    font-size: 14px;
    text-align: center;

}

.arrow-up {
    margin-top:7px;
    margin-left:2px;
    margin-right:2px;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;


    position:absolute;


}

.arrow-down {
    margin-top:20px;
    margin-left:2px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;

    position:absolute;


}

.modal
{
    width:300px;
    margin-left:-150px;
}

#box-email
{
    width: 300px ;
    height: 380px ;
    background: #39D54A;
}

#box-email a
{
	font-size:9px;
}


#box-email.ng-scope div
{
    padding: 5px;
}

#box-preferences
{


    width: 300px ;
    height: 420px ;
    background: #39D54A;

}

#box-terms-conditions
{
    width: 600px ;
    height: 420px ;
    background: #FFFFFF;
    z-index:1000;
    margin-left:-120px;

}

#box-terms-conditions #innerpane
{
    width: 550px ;
    signauto;
    overflow-x:hidden;
    padding:15px;
    height: 330px;


}
#box-terms-conditions #lendliftlogo
{
    position:absolute;

}

#box-terms-conditions input
{
    margin-top:20px;
    text-align:center;
}


#box-preferences.ng-scope div
{
    padding: 5px;
}

#box-signup
{
    position:absolute;
    margin:auto;
    width: 320px ;
    height: 300px ;
    background: #39D54A;
    top:80px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}




#box-signup select
{
    width:217px;
}
#box-signup div
{
    padding:2px;
    text-align: center;

}




#box-signup input
{

    width: 205px;

}

#btn-close-signup
{
    margin-left: 85%;
    float:right;
    position:absolute;
}

#btn-close-signup input
{
    width: 30px;
}


#box-email div
{
    padding:10px;
    text-align: center;

}

#box-email input
{

    width: 200px;

}

#box-preferences div
{
    padding:10px;
    text-align: center;

}

#box-preferences p
{
   font-size:10px;
}

#box-preferences input
 {

     width: 200px;

 }

#box-preferences input[type='checkbox']
{

    width: 20px;

}


#btn-close-email
{
    margin-left: 85%;
    float:right;
    position:absolute;
}
#btn-close-email input
{
    width: 30px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #585656;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #585656;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #585656;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #585656;
}
#header
{
    float: left;
    width:100%;
}

#debt-calculator-logo
{
    float: right;
    margin-right: 4%;


}
#debt-calculator-logo img
{
    vertical-align:top;
    padding-top:0px;
    border:0px;
    height:75px;
}

#debt-calculator-title
{
    float: left;
    margin-top:1%;

}


#lendliftlogo img
{
    height:75px;
}


#formBuilderCSSIDLendLift_Debt_Calculator_SignUp_Form
{
	visibility:hidden;
	position:absolute;
}

#formBuilderCSSIDLendLift_Affiliate_Form
{
    visibility:hidden;
    position:absolute;
}

#box-affiliate input[type="button"]
{
    background:rgb(10, 148, 68);
    color:rgb(255,255,255);
    border:none;
    font-size:14px;
    width:150px;
}


#box-referral
{
    width: 300px ;
    height: 440px ;
    background: #39D54A;
    z-index: 2000;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#box-referral #btn-close-email
{
    margin-left:95%;
    float:right;
    position:absolute;
}

#box-referral p
{
    margin-top:12px;
    width :270px;
    margin-left:8px;
    text-align:justify;
    font-size:12px;
}

#lendingclublink,#prosperlink
{
    margin-left:15px;
    margin-top:10px;
}

#lendingclublink
{

    width:250px;
    cursor: hand;
    cursor: pointer;
}

#prosperlink
{
    width:250px;
    cursor: hand;
    cursor: pointer;
}

#box-affiliate
{

}

#box-affiliate
{
    margin-left:auto;
    margin-right:auto;
    width:575px;
    padding: 10px 10px 10px 10px;
    margin-top:-110px;
    height: 275px ;
    background: rgb(111, 188, 63);
    -moz-border-radius: 15px;
    border-radius: 15px;
}


#box-affiliate div#calc
{
    width:350px;
    height:260px;
    float:left;
    background: rgb(200, 188, 63);

    background-image: url('../img/calc_screenshot.png');
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px 0 0 15px;

}

#box-affiliate div#affiliate
{
    float:left;
rgb(10, 148, 68);
    background: rgb(61, 188, 63);
    border-radius: 15px;
    padding: 15px 15px 0px 15px;
    margin-left:10px;
    height:260px;

}

#box-affiliate a
{

    margin-left:-750px;
    margin-top: 120px;
    background:  rgb(160, 148, 68);

}

#box-affiliate #affiliate a
{

    margin-left:0px;
    background:  none;
    font-size:9px;

}

.nav
{
    font-size:18px;
}